
html, body {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}